.container {
    margin: 1rem;
    position: absolute;
    background-color: #E7E7E7;
}

.userContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px;
    margin: 10px;
    background-color: #90D4D6;
}

.avatar {
    height: 80px;
}

