.aside{
  background-color: #666666;
  grid-area: aside;
  font-size: 1.3rem;
}

.nav{
  padding: 20px;
}

.nav a {
  color: white;
  text-decoration: none;
}

nav a.activeLink {
  color: #a4dbdb;
}

.friends {
  background-color: #2D3538;
  color: white;
  text-align: center;
}
