.header {
    background-color: #2d3538;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.logo {
    height: 3rem;
}

.login {
    color: white;
    font-size: 1.5rem;
}

.login button {
    margin-left: 10px;
}

.login a {
    text-decoration: none;
    color: white;
}

.login a:hover {
    color: #a4dbdb;
}