.profileContainer {
    display: grid;
    grid-template-columns: 1fr 10fr;
    background-color: rgb(144, 212, 214);
    padding: 20px;
}

.ava {
    height: 7rem;
}

.infoCont{
    padding: 5px 10px;
}
.name {
    font-size: 1.4rem;
}

.contactsContainer{
    padding: 3px 10px;
}

.infoContainer div {
    padding-top: 5px;
}

.box{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.photoInput{
    font-family: 'Roboto', sans-serif;
    padding: 4px;
}