.profileContainer {
    display: grid;
    grid-template-columns: 1fr 10fr;
    background-color: rgb(144, 212, 214);
    padding: 20px;
}

.ava {
    height: 7rem;
}

.infoCont{
    padding: 5px 10px;
}
.name {
    font-size: 1.4rem;
}