.app-wrapper {
  border: 2px dashed black;
  display: grid;
  height: 100vh;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: "header header header"
                        "aside main main"
                        "footer footer footer";
                        
}